.landing__features {
    .features-card {
        height: 28rem;

        img {
            object-fit: cover;
        }
    }
}

.landing__partners {

    .partners-header p {
        width: 46rem;

        @media screen and (max-width : 768px) {
            width: 100%;
        }
    }
}